/* fonts */
/* 
    font-family: 'Cinzel', serif;
    font-family: 'PT Serif', serif;
*/

body {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-size: 18px;
  color: #414141;
}

header {
  text-align: center;
}

h1 {
  font-family: 'Cinzel', serif;
  font-weight: 900;
  font-size: 96px;
}

a {
  color: #CA5E10;
}

.subtitle {
  color: #7D7D7D;
  font-size: 36px;
}

.lead {
  font-size: 21px;
}

.container {
  width: 90%;
  max-width: 39rem;
  margin: 0 auto;
}
